################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/assets/*
*.xex
*.xexp
*.exe
/CMakeFiles
generated/*
out/
*.log
sonicthefighters
